:root {
  --primary-50: #f7e0ff;
  --primary-100: #ebb3ff;
  --primary-200: #de80ff;
  --primary-300: #d14dff;
  --primary-400: #c726ff;
  --primary-500: #bd00ff;
  --primary-600: #b700ff;
  --primary-700: #ae00ff;
  --primary-800: #a600ff;
  --primary-900: #9800ff;
  --primary-a100: #000000;
  --primary-a200: #ffffff;
  --primary-a400: #001eff;
  --primary-a700: #00b8ff;

  --accent-50: #e0fff3;
  --accent-100: #b3ffe2;
  --accent-200: #80ffcf;
  --accent-300: #4dffbc;
  --accent-400: #26ffad;
  --accent-500: #00ff9f;
  --accent-600: #00ff97;
  --accent-700: #00ff8d;
  --accent-800: #00ff83;
  --accent-900: #00ff72;
  --accent-a100: #000000;
  --accent-a200: #ffffff;
  --accent-a400: #001eff;
  --accent-a700: #00b8ff;

  --warn-50: #f2e1e9;
  --warn-100: #deb4c7;
  --warn-200: #c982a2;
  --warn-300: #b3507c;
  --warn-400: #a22b60;
  --warn-500: #920544;
  --warn-600: #8a043e;
  --warn-700: #7f0435;
  --warn-800: #75032d;
  --warn-900: #63011f;
  --warn-a100: #ff93aa;
  --warn-a200: #ff6083;
  --warn-a400: #ff2d5b;
  --warn-a700: #ff2d5b;

  --contrast-50: rgba(black, 0.87);
  --contrast-100: rgba(black, 0.87);
  --contrast-200: rgba(black, 0.87);
  --contrast-300: rgba(black, 0.87);
  --contrast-400: white;
  --contrast-500: white;
  --contrast-600: white;
  --contrast-700: white;
  --contrast-800: white;
  --contrast-900: white;
  --contrast-a100: rgba(black, 0.87);
  --contrast-a200: rgba(black, 0.87);
  --contrast-a400: rgba(black, 0.87);
  --contrast-a700: rgba(black, 0.87);

  /* .theme-dark {
    --primary-50: #f1eff8;
    --primary-100: #ddd8ed;
    --primary-200: #c7bee1;
    --primary-300: #b0a3d5;
    --primary-400: #9f90cc;
    --primary-500: #8e7cc3;
    --primary-600: #8674bd;
    --primary-700: #7b69b5;
    --primary-800: #715fae;
    --primary-900: #5f4ca1;
    --primary-a100: #fefeff;
    --primary-a200: #d6cbff;
    --primary-a400: #ae98ff;
    --primary-a700: #9a7fff;
  } */
}
