.app {
  position: relative;
  width: 100%;
  height: 100%;
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.credits {
  font-size: 0.75rem;
  text-align: center;
  color: #ffffff;
}

.floating-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.fab button,
.fab a {
  background: #000000;
  color: var(--color-primary-500);
  border: 3px solid var(--color-primary-500);
  font-family: monospace;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  box-shadow: 4px 4px 0px #003b00, 6px 6px 0px #000;
  transition: transform 0.1s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
}

.fab button:hover,
.fab a:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #003b00, 8px 8px 0px #000;
  background: var(--color-primary-500);
  color: black;
}

.fab fa-icon {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
