<div class="app-container">
  <div class="model-scene" #model>
    <app-computer-model
      [hidden]="sceneLoaded"
      (loaded)="onSceneLoaded()"
      (modelClicked)="onModelClicked()"
    ></app-computer-model>
  </div>
  <div class="bg-black flex justify-center">
    <div class="fixed bottom-0 m-5">
      <div class="fab flex flex-wrap justify-center m-2">
        <button
          data-bs-toggle="modal"
          data-bs-target="#aboutMeModal"
          title="AboutMe"
          class="m-1 bg-primary-500 w-10 h-10 rounded-full drop-shadow-lg flex justify-center items-center text-white text-4xl"
        >
          <span class="material-icons">terminal</span>
        </button>
        <a
          href="https://github.com/riethmue/website"
          title="Github"
          class="m-1 bg-primary-500 w-10 h-10 rounded-full drop-shadow-lg flex justify-center items-center text-white text-4xl"
        >
          <fa-icon size="xs" [icon]="faGithub"></fa-icon>
        </a>
        <a
          href="https://www.linkedin.com/in/sarah-riethm%C3%BCller-b18b14137/"
          title="LinkedIn"
          class="m-1 bg-primary-500 w-10 h-10 rounded-full drop-shadow-lg flex justify-center items-center text-white text-4xl"
        >
          <fa-icon size="xs" [icon]="faLinkedin"></fa-icon>
        </a>
        <a
          href="https://medium.com/@sriethmueller_41398"
          title="Medium"
          class="m-1 bg-primary-500 w-10 h-10 rounded-full drop-shadow-lg flex justify-center items-center text-white text-4xl"
        >
          <fa-icon size="xs" [icon]="faMedium"></fa-icon>
        </a>
      </div>
      <div class="font-mono text-xs text-center text-white">
        &lt;Sarah Riethmüller&gt; &lt;👩🏻‍💻 Software Developer&gt; &lt;anno
        2022&gt;
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<div
  class="glass modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
  id="aboutMeModal"
  tabindex="-1"
  aria-labelledby="aboutMeModal"
  aria-modal="true"
  role="dialog"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-autoe"
  >
    <div
      class="modal-content border-none shadow-lg relative flex flex-col w-full bg-transparent bg-clip-padding rounded-md outline-none text-current"
    >
      <div
        class="modal-header flex flex-shrink-0 items-center justify-end p-4 border-b border-accent-900 rounded-t-md"
      >
        <button
          class="hover:animate-spin text-primary-500"
          data-bs-dismiss="modal"
        >
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body relative">
        <app-about-me-card class="w-full h-full"></app-about-me-card>
      </div>
    </div>
  </div>
</div>
