<div class="app-container">
  <div class="model-scene" #model>
    <app-computer-model
      [hidden]="sceneLoaded"
      (loaded)="onSceneLoaded()"
      (modelClicked)="onModelClicked()"
    ></app-computer-model>
  </div>
  <div class="bg-black flex justify-center">
    <div class="fixed bottom-0 m-5">
      <div class="fab flex flex-wrap justify-center m-2">
        <button
          data-bs-toggle="modal"
          data-bs-target="#aboutMeModal"
          title="AboutMe"
          class="m-0.5 bg-primary-500 w-10 h-10 rounded-full drop-shadow-lg flex justify-center items-center text-white text-4xl"
        >
          <span class="material-icons">terminal</span>
        </button>
        <a
          href="https://github.com/riethmue/website"
          title="Github"
          class="m-0.5 bg-primary-500 w-10 h-10 rounded-full drop-shadow-lg flex justify-center items-center text-white text-4xl"
        >
          <fa-icon size="xs" [icon]="faGithub"></fa-icon>
        </a>
        <!-- <a
          href="https://www.linkedin.com/in/sarah-riethm%C3%BCller-b18b14137/"
          title="LinkedIn"
          class="m-0.5 bg-primary-500 w-10 h-10 rounded-full drop-shadow-lg flex justify-center items-center text-white text-4xl"
        >
          <fa-icon size="xs" [icon]="faLinkedin"></fa-icon>
        </a> -->
        <a
          href="https://medium.com/@sriethmueller_41398"
          title="Medium"
          class="m-0.5 bg-primary-500 w-10 h-10 rounded-full drop-shadow-lg flex justify-center items-center text-white text-4xl"
        >
          <fa-icon size="xs" [icon]="faMedium"></fa-icon>
        </a>
      </div>
      <div class="font-mono text-xs text-center text-white">
        &lt;Sarah Riethmüller&gt; &lt;👩🏻‍💻 Software Developer&gt; &lt;anno
        2022&gt;
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
