<div>
  <!-- <div class="font-mono text-xl font-medium text-black">
    Hi I'm Sarah. I'm a software developer and exploring computers since 1996 👶
  </div> -->
  <div class="model-scene" #model>
    <app-computer-model
      [hidden]="sceneLoaded"
      (loaded)="onSceneLoaded()"
      (modelClicked)="onModelClicked()"
    ></app-computer-model>
  </div>
  <a
    href="https://github.com/riethmue/website"
    class="primary"
    mat-mini-fab
    aria-label="code"
  >
    <mat-icon>code</mat-icon>
  </a>
  <span
    class="inline-block bg-red rounded-full px-3 py-1 text-sm font-semibold text-white"
  >
    #angular
  </span>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
