.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.model-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// .fab {
//   button,
//   a {
//     @apply hover:bg-primary-300;
//     @apply mx-0.5;
//   }
// }
