<div
  class="max-w-sm flex flex-col justify-start items-center content-center rounded overflow-hidden shadow-lg glass"
>
  <div
    class="px-6 py-4 flex flex-col justify-start items-center content-center"
  >
    <div class="font-mono text-xl font-medium text-primary-500 m-5">
      #Sarah Riethmüller
    </div>
    <img class="h-auto w-100 rounded-lg m-5" src="assets/img/me_8bit.png" />
    <p class="font-mono text-white text-base">
      I am a fullstack developer, studied Computational visualistics and have a
      passion for computer-aided creation and analysis of graphics and images.
    </p>
  </div>
  <div class="flex flex-row px-6 pt-4 pb-2">
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#js/ts</span
    >
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#python</span
    >
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#angular</span
    >
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#azure</span
    >
  </div>
</div>
