.retro-chip {
  background: black;
  color: var(--color-primary-500);
  border: 3px solid var(--color-primary-500);
  font-family: monospace;
  text-transform: uppercase;
  padding: 0.3rem 0.8rem;
  margin: 0.3rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  /* pixel shadow */
  box-shadow: 4px 4px 0px #003b00, 6px 6px 0px #000;
  transition: transform 0.1s ease-in-out;
}

.retro-chip:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #003b00, 8px 8px 0px #000;
  background: var(--color-cyber-green);
  color: black;
}
