<div [class.open]="display" class="wrapper">
  <div class="retro-modal">
    <div
      (click)="$event.stopPropagation()"
      class="retro-window"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-headline"
    >
      <div class="retro-titlebar">
        <span class="retro-title">~ Sarah Riethmüller.exe</span>
        <div class="retro-controls">
          <!-- <span class="ctrl">−</span>
          <span class="ctrl">□</span> -->
          <span class="ctrl close" (click)="close()">X</span>
        </div>
      </div>
      <div class="retro-content">
        <ng-template #contentHost></ng-template>
      </div>
    </div>
  </div>
</div>
