/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@use "@material/fab";
@include fab.core-styles;
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.terminal-dialog-container .mat-dialog-container {
  padding: 0px !important;
  background-color: black;
}
